$blue: #3877ee;
$black: #42567a;

.events-slider-wrapper {
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  top: 841px;
  left: 0;
  z-index: 15;

  @media (max-width: 768px) {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    opacity: 1;
    width: 100%;
    padding: 0 0;
    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    min-height: 200px;
    margin-left: -20px;
    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: #c7cdd9;
      width: calc(100%);
      margin: 0 auto 0 20px;
      margin-bottom: 20px;
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: relative;
      bottom: 0;
      margin-top: 25px;
    }
    :global(.swiper) {
      // Возвращаем внутренний отступ, чтобы первый слайд стоял вровень с заголовком
      padding-left: 20px;
      padding-right: 20px;

      // Позволяем слайдам быть видимыми до самого края экрана при свайпе
      overflow: visible;
    }
  }
}

.swiper {
  width: 100%;
  padding: 20px 0;

  @media (max-width: 768px) {
    padding: 0px;
  }
}

:global {
  .swiper-slide {
    height: auto;

    @media (max-width: 768px) {
      opacity: 0.4;
      transition: opacity 0.3s;

      &-active {
        opacity: 1;
      }
    }
  }
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    color: $blue;
    margin: 0;
    font-weight: 400;
  }

  p {
    font-size: 20px;
    line-height: 145%;
    color: $black;
    margin: 0;
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 16px;
      font-weight: 400;
      color: $blue;
      margin-bottom: 0px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 145%;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);

  &::after {
    font-size: 10px;
    font-weight: bold;
    color: $blue;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;

  svg {
    display: block;
  }

  &.prev-btn {
    left: 20px;
    svg {
      transform: rotate(180deg);
    }
  }

  &.next-btn {
    right: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
:global(.swiper-button-disabled) {
  opacity: 0;
  pointer-events: none;
}
.swiper-pagination {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}
