@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f4f5f9;
  color: #42567a;

  overscroll-behavior: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  font-family: inherit;
  outline: none;
}
